<%= form_for @listing, html: { multipart: true } do |f| %>

 <div class="form-group">
    <%= f.label :title, "Title" %>
     <%= f.text_field :title, :size => 25, class: "form-control input-sm" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, :cols => 25, :rows => 9, class: "form-control input-sm" %>
  </div>

   <div class="form-group">
    <%= f.label :make, "Make" %>
    <%= f.text_field :make, :size => 25, class: "form-control input-sm" %>
  </div>

  <div class="form-group">
    <%= f.label :model, "Model" %>
    <%= f.text_field :model, :size => 25, class: "form-control input-sm" %>
  </div>

   <div class="form-group">
    <%= f.label :img_url, "Image upload" %>
    <%#= f.label :image %>
    <%#= f.text_field :img_url, :size => 5, :disabled => false %>
    <%= file_field :listing, :img_url, :size => 30 %>
    <%#= f.file_field :image %>
 </div>

  <div class="form-group">
    <%= f.label :mpg, "MPG" %>
    <%= f.text_field :mpg, :size => 25, class: "form-control input-sm" %>
  </div>

 <div class="form-group">
    <%= f.label :price, "Price" %>
    <%= f.text_field :price, :size => 10, class: "form-control input-sm" %>
  </div>

 <div class="form-group">
    <%= f.label :registered, "Date Registered" %>
    <%# @listing.registered_format %> 
    <%= f.date_select :registered, :size => 10 %>
  </div>

  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
