<!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="thumbnail"> 
              <div id="all-details">
           <div id="display-img">
   <div class="form-group"> 
    <% if not @listing.img_url.blank? %>
      <%= link_to (image_tag  @listing.img_url, size: "500x350"),
         listings_path, :title => 'return to "all" listings ...' %> 
    <% else %>
      <%= image_tag "no-image.jpg", :size => "300x200" %>
    <% end %>  
  </div> 

    <div class="form-group"> <%= @listing.title %> </div> 
    
    <hr>
      <!-- if a listing does not have a price then do not display -->
 <!--<div class="sub-title"> -->
  <div class="pull-right"> 
      <% if not @listing.price.blank? %> 
      <strong>  PRICE:</strong> <%= number_to_currency @listing.price, unit: "£" %>    
      <% end %>
    </div>

   <div class="form-group">
      <strong>MAKE:</strong><%= @listing.make %>
    </div>

   <div class="form-group">
      <strong>MODEL:</strong><%= @listing.model %>
    </div>
   

     <div class="form-group">
      <strong>MPG:</strong>  <%= @listing.mpg %>
    </div>
      
    <!-- displays date listing was registered -->
    <div class="form-group">
      <% if not @listing.registered.blank? %> 
        <strong>DATE REGISTERED:</strong> <%= @listing.registered.strftime("%Y") %>
    </div> 

    <hr>
         <div class="form-group"> 
      <strong>DESCRIPTION:</strong> <%= @listing.description %>
      <% end %>
    </div>
 <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
 <h4 class="avg-rating">Average Rating is <h4 itemprop="ratingValue" class="avg-rating"><%= @average_review %></h4></h4>
            <div class="average-review-rating" data-score="<%= @average_review %>"></div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-md-6">
    <div class="reviews">
      <h1>Reviews</h1>
      <%= render @listing.reviews %>
 
      <div>
        <%= link_to "Add Reviews", new_listing_review_path(@listing), class: "btn-custom" %>
      </div>
    </div>
  </div>  
      <br></br>
       <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-success btn-sm" %> 
       <%= link_to 'Back', listings_path, class: "btn btn-primary btn-sm" %>
  </div>
  




<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
  $('.user-review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

